# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - kiali-cr.yaml
  - prometheus/cluster-role.yaml
  - prometheus/cluster-role-binding.yaml
  - prometheus/deployment.yaml
  - prometheus/service.yaml
  - prometheus/service-account.yaml

patches:
  - path: patches/istio-validator-istio-system.yaml
  - path: patches/istiod-default-validator.yaml
  - path: patches/istio-ingressgateway.yaml
  - path: patches/istio-ingressgateway-env.yaml
  - path: patches/prometheus-config-map.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: prometheus
    namespace: istio-system
    files:
      - prometheus.yml=prometheus/configs/prometheus.yml
      - alerting_rules.yml=prometheus/configs/alerting_rules.yml
      - alerts=prometheus/configs/alerts.yml
      - recording_rules.yml=prometheus/configs/recording_rules.yml
      - rules=prometheus/configs/rules.yml

helmCharts:
  # base
  - name: base
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    releaseName: istio-base
    namespace: istio-system
    includeCRDs: true

  # istiod
  - name: istiod
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    releaseName: istiod
    namespace: istio-system
    valuesFile: values/istiod.yaml

  # cni
  - name: gateway
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    releaseName: istio-cni
    namespace: istio-system

  # ingress gateway
  - name: gateway
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    releaseName: istio-ingressgateway
    namespace: istio-ingress
    valuesFile: values/gateway.yaml

  # Kiali operator
  - name: kiali-operator
    repo: https://kiali.org/helm-charts
    version: 2.20.0
    releaseName: kiali-operator
    namespace: kiali-operator
    includeCRDs: true
