# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - kiali-cr.yaml

helmCharts:
  # Istio base (CRDs)
  - name: base
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    releaseName: istio-base
    namespace: istio-system
    includeCRDs: true

  # istiod (ambient profile)
  - name: istiod
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    releaseName: istiod
    namespace: istio-system
    valuesInline:
      profile: ambient

  # istio-cni (ambient profile)
  - name: cni
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    releaseName: istio-cni
    namespace: istio-system
    valuesInline:
      profile: ambient

  # ztunnel
  - name: ztunnel
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    releaseName: ztunnel
    namespace: istio-system

  # ingress gateway
  - name: gateway
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    releaseName: istio-ingressgateway
    namespace: istio-ingress
    valuesInline:
      service:
        type: LoadBalancer

  # Kiali operator
  - name: kiali-operator
    repo: https://kiali.org/helm-charts
    version: 2.20.0
    releaseName: kiali-operator
    namespace: kiali-operator
    includeCRDs: true

patches:
  - path: patch-ztunnel.yaml
  - path: patch-istio-validator-istio-system.yaml
  - path: patch-istiod-default-validator.yaml
