apiVersion: v1
kind: Secret
metadata:
  name: gitea-appini
  namespace: gitea
type: Opaque
stringData:
  app.ini: |
    APP_NAME = Asai Git
    RUN_MODE = prod

    [server]
    DOMAIN = git.asnk.io
    ROOT_URL = https://git.asnk.io/
    PROTOCOL = http
    HTTP_PORT = 3000
    SSH_DOMAIN = git.asnk.io
    SSH_PORT = 22
    SSH_LISTEN_PORT = 2222

    [database]
    DB_TYPE = postgres
    HOST = gitea-postgresql-ha-pgpool.gitea.svc.cluster.local:5432
    NAME = gitea
    USER = gitea
    PASSWD = ${DATABASE_PASSWORD}
    SSL_MODE = disable

    [packages]
    ENABLED = true

    [storage]
    STORAGE_TYPE = s3

    [storage.s3]
    ENDPOINT = s3.example.com
    REGION = fsn1
    BUCKET = ayame-gitea
    ACCESS_KEY_ID = ${S3_ACCESS_KEY}
    SECRET_ACCESS_KEY = ${S3_SECRET_KEY}
    USE_SSL = true
    PATH_STYLE = true

    [storage.attachments]
    STORAGE_TYPE = s3
    [storage.lfs]
    STORAGE_TYPE = s3
    [storage.avatars]
    STORAGE_TYPE = s3
    [storage.repo-archive]
    STORAGE_TYPE = s3
    [storage.packages]
    STORAGE_TYPE = s3
    [storage.actions_log]
    STORAGE_TYPE = s3
