apiVersion: v1
kind: Secret
metadata:
  name: gitea-appini
  namespace: gitea
type: Opaque
stringData:
  app.ini: |
    APP_NAME = Asai Git
    RUN_MODE = prod

    [server]
    PROTOCOL           = http
    DOMAIN             = git.asnk.io
    ROOT_URL           = https://git.asnk.io/
    HTTP_PORT          = 3000
    PROTOCOL           = http
    SSH_DOMAIN         = git.asnk.io
    DISABLE_SSH        = false
    START_SSH_SERVER   = true
    SSH_PORT           = 2222
    SSH_LISTEN_PORT    = 2222
    ENABLE_GZIP        = true
    LFS_START_SERVER   = true
    LFS_ALLOW_PURE_SSH = true

    [database]
    DB_TYPE  = postgres
    HOST     = gitea-postgres.gitea:5432
    NAME     = gitea
    USER     = gitea
    PASSWD   = ${GITEA_DATABASE_PASSWORD}
    SSL_MODE = disable

    [indexer]
    ISSUE_INDEXER_TYPE = meilisearch
    ISSUE_INDEXER_CONN_STR = http://:${MEILI_MASTER_KEY}@gitea-meilisearch.gitea:7700

    [queue]
    TYPE = redis
    CONN_STR = redis://gitea-redis.gitea:6379/0

    [admin]
    DEFAULT_EMAIL_NOTIFICATIONS = enabled
    DISABLE_REGULAR_ORG_CREATION = true

    [security]
    INSTALL_LOCK        = true
    SECRET_KEY          = ${GITEA_SECRET_KEY}
    DISABLE_GIT_HOOKS   = true
    DISABLE_WEBHOOKS    = false
    INTERNAL_TOKEN      = ${GITEA_INTERNAL_TOKEN}
    PASSWORD_COMPLEXITY = digit

    [service]
    REGISTER_EMAIL_CONFIRM                = true
    DISABLE_REGISTRATION                  = true
    ENABLE_BASIC_AUTHENTICATION           = true
    ENABLE_PASSWORD_SIGNIN_FORM           = true
    ENABLE_PASSKEY_AUTHENTICATION         = true
    ENABLE_CAPTCHA                        = true
    REQUIRE_CAPTCHA_FOR_LOGIN             = true
    REQUIRE_EXTERNAL_REGISTRATION_CAPTCHA = true
    CAPTCHA_TYPE                          = recaptcha
    RECAPTCHA_SITEKEY                      = ${RECAPTCHA_SITEKEY}
    RECAPTCHA_SECRET                       = ${RECAPTCHA_SECRET}
    DEFAULT_KEEP_EMAIL_PRIVATE            = true
    DEFAULT_ALLOW_CREATE_ORGANIZATION     = false
    SHOW_REGISTRATION_BUTTON              = false

    [qos]
    ENABLED = true

    [webhook]
    ALLOWED_HOST_LIST = ci.sne.moe,ci.asnk.io

    [mailer]
    ENABLED   = true
    PROTOCOL  = smtp+starttls
    SMTP_ADDR = smtp.resend.com
    SMTP_PORT = 587
    USER      = resend
    PASSWD    = ${GITEA_EMAIL_PASSWORD}
    FROM      = Asai Git <git@violet.sne.moe>

    [cache]
    ADAPTER = redis
    HOST    = redis://gitea-redis.gitea:6379/1

    [session]
    PROVIDER        = redis
    PROVIDER_CONFIG = redis://gitea-redis.gitea:6379/2
    COOKIE_SECURE   = true

    [picture]
    GRAVATAR_SOURCE     = gravatar
    DISABLE_GRAVATAR    = false
    AVATAR_STORAGE_TYPE = hcloud

    [attachment]
    STORAGE_TYPE = hcloud

    [metrics]
    ENABLED                     = true
    ENABLED_ISSUE_BY_LABEL      = true
    ENABLED_ISSUE_BY_REPOSITORY = true
    TOKEN                       = ${METRICS_TOKEN}

    [oauth2]
    ENABLED = true
    JWT_SECRET = ${GITEA_JWT_SECRET}

    [packages]
    ENABLED = false

    [mirror]
    ENABLED = true

    [lfs]
    STORAGE_TYPE = hcloud

    [storage.hcloud]
    STORAGE_TYPE             = minio
    MINIO_ENDPOINT           = fsn1.your-objectstorage.com:443
    MINIO_ACCESS_KEY_ID      = ${MINIO_ACCESS_KEY_ID}
    MINIO_SECRET_ACCESS_KEY  = ${MINIO_SECRET_ACCESS_KEY}
    MINIO_BUCKET             = ayame-gitea
    MINIO_LOCATION           = fsn1
    MINIO_USE_SSL            = true
    MINIO_BUCKET_LOOKUP_TYPE = path

    [storage.repo-archive]
    STORAGE_TYPE = hcloud

    [repo-archive]
    STORAGE_TYPE = hcloud

    [actions]
    ENABLED = false

    [other]
    SHOW_FOOTER_VERSION            = false
    SHOW_FOOTER_TEMPLATE_LOAD_TIME = false
    SHOW_FOOTER_POWERED_BY         = false
    ENABLE_SITEMAP                 = true
    ENABLE_FEED                    = true
