apiVersion: v1
kind: Secret
metadata:
  name: gitea-appini
  namespace: gitea
type: Opaque
stringData:
  app.ini: |
    APP_NAME = Asai Git
    RUN_MODE = prod

    [server]
    DOMAIN = git.asnk.io
    ROOT_URL = https://git.asnk.io/
    PROTOCOL = http
    HTTP_PORT = 3000
    DISABLE_SSH = false
    SSH_DOMAIN = git.asnk.io
    SSH_PORT = 2222
    SSH_LISTEN_PORT = 22
    LFS_START_SERVER = true
    LFS_JWT_SECRET = f4-RdfaaaFSqRy9IDsVq1y6kkbg_pAG-1kLRpeJriDI
    OFFLINE_MODE = true
    LANDING_PAGE = explore

    [database]
    DB_TYPE = postgres
    HOST = gitea-postgresql-ha-pgpool.gitea.svc.cluster.local:5432
    NAME = gitea
    USER = gitea
    SSL_MODE = disable

    [indexer]
    ISSUE_INDEXER_PATH = /data/gitea/indexers/issues.bleve

    [session]
    PROVIDER_CONFIG = /data/gitea/sessions
    PROVIDER = file

    [picture]
    AVATAR_UPLOAD_PATH = /data/gitea/avatars
    REPOSITORY_AVATAR_UPLOAD_PATH = /data/gitea/repo-avatars

    [attachment]
    PATH = /data/gitea/attachments

    [log]
    MODE = console
    LEVEL = info
    ROOT_PATH = /data/gitea/log

    [security]
    INSTALL_LOCK = true
    SECRET_KEY =
    REVERSE_PROXY_LIMIT = 1
    REVERSE_PROXY_TRUSTED_PROXIES = *
    INTERNAL_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYmYiOjE3NjUwMzIzMTF9.7dQJmqIwN7PQD3rG7yINNuJADKf4yqzDDMejtBuKf_g
    PASSWORD_HASH_ALGO = pbkdf2

    [service]
    DISABLE_REGISTRATION = true
    REQUIRE_SIGNIN_VIEW = false
    REGISTER_EMAIL_CONFIRM = false
    ENABLE_NOTIFY_MAIL = false
    ALLOW_ONLY_EXTERNAL_REGISTRATION = false
    ENABLE_CAPTCHA = false
    DEFAULT_KEEP_EMAIL_PRIVATE = false
    DEFAULT_ALLOW_CREATE_ORGANIZATION = true
    DEFAULT_ENABLE_TIMETRACKING = true
    NO_REPLY_ADDRESS = noreply.localhost

    [packages]
    ENABLED = true

    [storage]
    STORAGE_TYPE = minio
    MINIO_BUCKET = ayame-gitea
    MINIO_ENDPOINT = fsn1.your-objectstorage.com
    MINIO_ACCESS_KEY_ID = 21ULL1HLMDSDHWTN9VDR
    MINIO_SECRET_ACCESS_KEY = jwwidCy8x9sBuGHfdUktmKTcsTD2GqmKEFoQlEF9

    [mailer]
    ENABLED = true
    SMTP_ADDR = smtp.resend.com
    SMTP_PORT = 587
    FROM = git@violet.sne.moe
    USER = resend
    PASSWD = re_2pT3JG31_5WGfgkCoiqv6t2iTNuwkqDJk
    PROTOCOL = smtp+starttls

    [openid]
    ENABLE_OPENID_SIGNIN = false
    ENABLE_OPENID_SIGNUP = false

    [cron.update_checker]
    ENABLED = false

    [repository.pull-request]
    DEFAULT_MERGE_STYLE = merge

    [repository.signing]
    DEFAULT_TRUST_MODEL = committer

    [oauth2]
    JWT_SECRET = Zo5sID96EHbaE6zXuZbH_wrXGBs88T0yPBidnwmVeVY

    [webhook]
    ALLOWED_HOST_LIST = ci.sne.moe
