# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - secrets.yaml
  - config.yaml
  - gitea-pvc.yaml
  - gitea-service.yaml
  - gitea-deployment.yaml
  - postgres-pvc.yaml
  - postgres-service.yaml
  - postgres-deployment.yaml
  - redis-pvc.yaml
  - redis-service.yaml
  - redis-deployment.yaml
  - meilisearch-pvc.yaml
  - meilisearch-service.yaml
  - meilisearch-deployment.yaml
