# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - secret.yaml
  - config.yaml
  - postgres-service.yaml
  - postgres-stateful-set.yaml
  - redis-service.yaml
  - redis-stateful-set.yaml
  - gitea-pvc.yaml
  - gitea-service.yaml
  - gitea-deployment.yaml
  - meilisearch-service.yaml
  - meilisearch-stateful-set.yaml
