# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiversion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - config.yaml
  - network/certificate.yaml
  - network/destination-rule.yaml
  - network/gateway.yaml
  - network/service-entry.yaml
  - network/virtual-service.yaml

patches:
  - target:
      group: apps
      version: v1
      kind: StatefulSet
      name: gitea-valkey-cluster
      namespace: gitea
    patch: |-
      - op: remove
        path: /spec/volumeClaimTemplates/0/apiVersion
      - op: remove
        path: /spec/volumeClaimTemplates/0/kind

helmCharts:
  - name: gitea
    repo: https://dl.gitea.com/charts/
    version: 12.4.0
    releaseName: gitea
    namespace: gitea
    includeCRDs: false
    valuesFile: values.yaml
