apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitea-redis
  namespace: gitea
spec:
  replicas: 1
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app: gitea-redis
  template:
    metadata:
      labels:
        app: gitea-redis
    spec:
      containers:
        - name: redis
          image: redis:8-alpine
          ports:
            - containerPort: 6379
              name: redis
          args: ["redis-server", "--appendonly", "yes"]
          volumeMounts:
            - name: redisdata
              mountPath: /data
          readinessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 20
            periodSeconds: 10
      volumes:
        - name: redisdata
          persistentVolumeClaim:
            claimName: gitea-redis-data
