global:
  storageClass: "hcloud-volumes"
  imagePullSecrets: []

gitea:
  admin:
    existingSecret: "gitea-secrets"
    email: "sugar@sne.moe"

  config:
    server:
      DOMAIN: "git.asnk.io"
      ROOT_URL: "https://git.asnk.io/"
      SSH_DOMAIN: "git.asnk.io"
      SSH_PORT: 22
      START_SSH_SERVER: true

  metrics:
    enabled: true
    serviceMonitor:
      enabled: false

ingress:
  enabled: true
  className: "istio"
  annotations:
    kubernetes.io/ingress.class: istio
  hosts:
    - host: git.asnk.io
      paths:
        - path: /
          pathType: Prefix
  tls: []

service:
  http:
    type: ClusterIP
    port: 3000
  ssh:
    type: ClusterIP
    port: 22

persistence:
  enabled: true
  storageClass: "hcloud-volumes"
  size: 10Gi
  accessModes:
    - ReadWriteOnce

postgresql-ha:
  enabled: true
  global:
    postgresql:
      database: gitea
      username: gitea
      repmgr-username: repmgr
      existingSecret: "gitea-secrets"
      existingSecretPasswordKey: "postgresql-user-password"

  postgresql:
    persistence:
      storageClass: "hcloud-volumes"
      size: 10Gi

    existingSecret: "gitea-db-secret"
    existingSecretPasswordKey: "postgresql-password"

  pgpool:
    existingSecret: "gitea-secrets"
    existingSecretAdminPasswordKey: "postgresql-admin-password"
    srCheckPasswordSecretKey: "postgresql-repmgr-password"

valkey-cluster:
  enabled: true
  usePassword: true

  global:
    valkey:
      existingSecret: "gitea-secrets"
      existingSecretPasswordKey: "valkey-password"

  persistence:
    storageClass: "hcloud-volumes"
    size: 5Gi

podSecurityContext:
  fsGroup: 1000

containerSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
