global:
  storageClass: hcloud-volumes

namespace: "gitea"

replicaCount: 1

strategy:
  type: "RollingUpdate"
  rollingUpdate:
    maxSurge: "100%"
    maxUnavailable: 0

clusterDomain: cluster.local

image:
  registry: "docker.gitea.com"
  repository: gitea
  tag: "1.25.3"
  digest: ""
  pullPolicy: IfNotPresent
  rootless: true
  fullOverride: ""

podSecurityContext:
  fsGroup: 1000

service:
  http:
    type: ClusterIP
    port: 3000
    clusterIP: None

  ssh:
    type: ClusterIP
    port: 2222
    clusterIP: None

ingress:
  enabled: false

resources:
  limits:
    cpu: 100m
    memory: 8Gi
  requests:
    cpu: 100m
    memory: 8Gi

persistence:
  enabled: true
  create: true
  mount: true
  claimName: gitea-shared-storage
  size: 50Gi
  accessModes:
    - ReadWriteOnce
  storageClass: hcloud-volumes
  annotations:
    helm.sh/resource-policy: keep

signing:
  enabled: false
  gpgHome: /data/git/.gnupg
  privateKey: ""
  existingSecret: ""

gitea:
  admin:
    username: admin
    password: E814DrN4kcfzH46s60CJdkQf
    email: "sugar@sne.moe"
    passwordMode: initialOnlyRequireReset

  config:
    APP_NAME: "Asai Git"
    server:
      SSH_PORT: 2222
      SSH_LISTEN_PORT: 22

  additionalConfigSources:
    - secret:
        secretName: gitea-appini

  ssh:
    logLevel: "INFO"

  livenessProbe:
    enabled: true
    tcpSocket:
      port: http
    initialDelaySeconds: 200
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 10

  readinessProbe:
    enabled: true
    tcpSocket:
      port: http
    initialDelaySeconds: 5
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 3

  startupProbe:
    enabled: true
    tcpSocket:
      port: http
    initialDelaySeconds: 60
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 10

valkey-cluster:
  enabled: true
  usePassword: false
  usePasswordFiles: false

  image:
    repository: bitnamilegacy/valkey-cluster

  cluster:
    nodes: 3
    replicas: 1

  metrics:
    image:
      repository: bitnamilegacy/redis-exporter

  service:
    ports:
      valkey: 6379

    repository: bitnamilegacy/os-shell

  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell

postgresql-ha:
  enabled: true

  global:
    postgresql:
      database: gitea
      password: V8swTctYtbkBV6vTj1Ty9unX
      username: gitea

  metrics:
    image:
      repository: bitnamilegacy/postgres-exporter

  postgresql:
    image:
      repository: bitnamilegacy/postgresql-repmgr
    repmgrPassword: h95gekiUo0XQLxuNnMmM4UUx
    postgresPassword: qrLWxgEwtcwQUk5qb70xPyna
    password: 7zBP2c5EKvCBRohpodjjwUoX

  pgpool:
    adminPassword: changeme3
    image:
      repository: bitnamilegacy/pgpool
    srCheckPassword: changeme4

  service:
    ports:
      postgresql: 5432

  persistence:
    size: 20Gi

  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell

checkDeprecation: true
test:
  enabled: true
  image:
    name: busybox
    tag: latest
