apiVersion: v1
kind: Service
metadata:
  name: istio-ingressgateway
  namespace: istio-ingress
spec:
  ports:
    - name: status-port
      protocol: TCP
      port: 15021
      targetPort: 15021
      nodePort: 30021
    - name: http2
      protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443
      nodePort: 30443
  type: NodePort

---
apiVersion: v1
kind: Pod
metadata:
  namespace: istio-ingress
spec:
  containers:
    - env:
        - name: CA_ADDR
          value: istiod.istio-system.svc.cluster.local:15012
