apiVersion: apps/v1
kind: Deployment
metadata:
  name: istio-ingressgateway
  namespace: istio-ingress
spec:
  template:
    spec:
      containers:
        - name: istio-proxy
          env:
            - name: ISTIOD_ADDR
              value: "istiod.istio-system.svc.cluster.local:15012"
