# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - argocd-3.2.3.yaml
  - namespace.yaml
  - projects/infra.yaml
  - projects/apps.yaml

patches:
  - patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: argocd-cm
      data:
        kustomize.buildOptions: --enable-helm
    target:
      kind: ConfigMap
      name: argocd-cm
