# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - uptime-kuma-deployment.yaml
  - uptime-kuma-service.yaml
  - uptime-kuma-pvc.yaml
  - network/certificate.yaml
  - network/destination-rule.yaml
  - network/gateway.yaml
  - network/service-entry.yaml
  - network/virtual-service.yaml
