apiVersion: apps/v1
kind: Deployment
metadata:
  name: uptime-kuma-deployment
  namespace: uptime-kuma
  labels:
    app: uptime-kuma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: uptime-kuma
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: uptime-kuma
    spec:
      containers:
        - name: uptime-kuma
          image: louislam/uptime-kuma:latest
          ports:
            - containerPort: 3001
          env:
            - name: TZ
              value: "UTC"
            - name: UMASK
              value: "0022"
          volumeMounts:
            - name: uptime-kuma-storage
              mountPath: /app/data
          livenessProbe:
            httpGet:
              path: /
              port: 3001
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          volumes:
            - name: uptime-kuma-storage
              persistentVolumeClaim:
                claimName: uptime-kuma-pvc
