all:
  hosts:
%{ for n in control_planes ~}
    ${n.name}:
      ansible_host: ${n.public_ip}
      ip: ${n.private_ip}
      etcd_member_name: ${n.etcd_member_name}
%{ endfor ~}
%{ for n in workers ~}
    ${n.name}:
      ansible_host: ${n.public_ip}
      ip: ${n.private_ip}
%{ endfor ~}

  children:
    kube_control_plane:
      hosts:
%{ for n in control_planes ~}
        ${n.name}:
%{ endfor ~}
    etcd:
      hosts:
%{ for n in control_planes ~}
        ${n.name}:
%{ endfor ~}
    kube_node:
      hosts:
%{ for n in workers ~}
        ${n.name}:
%{ endfor ~}
    k8s_cluster:
      children:
        kube_control_plane:
        kube_node:

  vars:
    ansible_user: ${ansible_user}
    ansible_ssh_private_key_file: ${ssh_private_key_file}
    ansible_ssh_common_args: "-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
