# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://raw.githubusercontent.com/cloudnative-pg/cloudnative-pg/release-1.28/releases/cnpg-1.28.0.yaml
  - https://raw.githubusercontent.com/wal-g/cnpg-plugin-wal-g/refs/tags/v0.2.2/dist/install.yaml
