# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cnpg-system

resources:
  - namespace.yaml
  - cnpg-1.28.0.yaml
  - wal-g-plugin-0.2.2.yaml
